
{% extends 'nav.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html> 
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/comments_detail.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Sans&family=Roboto:ital@1&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Social Network</title>
</head>
<body>
<div class= 'comment_section'>
    <section class = 'main-section'>
        <div class='full-boxer-2'>
            <div class='content-box'>
                <div class='box-top'>
                    <div class='user-comment'>
                    <div class='user'>
                        <div class='user-image'>
                            {% if publication.author.profile_image.image %}
                            <img src="{{publication.author.profile_image.image.url}}">
                            {% else %}
                            <img src="{% static 'usuario.png' %}">
                            {% endif %}
                        </div>
                        <div class='name-author'>
                            <strong>{{publication.author}}</strong>
                            <p class = 'date'>{{publication.created_on}}</p>
                        </div>
                    </div>
                        <div class='comment-post'>
                            <p>{{publication.text_content}}</p>
                        </div>
                    </div>
                    <div class = 'like-button-container'>
    
                        <form action="{% url 'likes' publication.id %}" method="POST" class="like-form">
                        {% csrf_token %}
                        {% if is_like %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class = 'like-button' type='submit'>
                            <i class="fa-solid fa-heart"></i>       
                        </button>
                        {{publication.likes.all|length}}
                        {% else %}
                        <input type="hidden" name="next" value="{{ request.path }}"> 
                        <button class = 'like-button' type='submit'>
                            <i class="fa-regular fa-heart" title = "Like"></i>
                        </button> 
                        {{publication.likes.all|length}}
                        {% endif %}
                        </form>
                        </div>
                        <div class = 'form-comment-box'>
                            <div class='comment-user-image'>
                            {% if user.profile_image.image %}
                            <img src="{{user.profile_image.image.url}}">
                            {% else %}
                            <img src="{% static 'usuario.png' %}">
                            {% endif %}   
                            </div>
                            <form method="POST">
                                {% csrf_token %} 
                                {{form.comment}}
                                <label class = "placeholder">¡Post your answer!</label> 
                                <input type="submit" name="submit_comment" value ='Answer' class = 'submit-button'>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    
 
    <section class = 'main'>
        <div class='full-boxer'> 
            {% for i in comments  %}
            <div class='comment-box'>
                <div class='box-top'>
                    <div class='profile'>
                        <div class='profile-image'>
                            {% if i.comment_author.profile_image.image %}
                            <img src="{{i.comment_author.profile_image.image.url}}">
                            {% else %}
                            <img src="{% static 'usuario.png' %}">
                            {% endif %}    
                        </div>
                        <div class='name'>
                        <strong>{{i.comment_author}}</strong>
                        <p class = 'date_1'>{{i.formatted_created_on}}</p>
                        </div>
                    </div>
                <div class = 'comment_'>
                    <p>{{i.comment}}</p>
                </div>
                <div class = 'like'>
                    <form action = "{% url 'comments_likes' i.id %}" method = "POST" class = "like-form2">
                            {% csrf_token %}
                            {% if is_like %}
                            <input type="hidden" name="next" value="{{ comment_url }}">
                            <button class = 'like-button-liked' type='submit'>
                                <i class="fa-solid fa-heart" title = "Like"></i>       
                            </button>
                            {{i.likes_C.all|length}}
                        {% else %}
                            <input type="hidden" name="next" value="{{ comment_url }}"> 
                            <button class = 'like-button' type='submit'>
                                <i class="fa-regular fa-heart" title = "Like"></i>
                            </button> 
                            {{i.likes_C.all|length}}
                        {% endif %}
                    </form>
                </div>
            </div>

        </div>
            {% endfor %}
    </div>
   
    </section>
</div>
<script>
    $(document).ready(function () {
        $('.like-form').submit(function (e) {
            e.preventDefault();
            var $form = $(this);
            $.ajax({
                type: 'POST',
                url: $form.attr('action'),
                data: $form.serialize()
            }).done(function () {
                location.reload();
            }).fail(function () {
                // Maneja errores si es necesario
            });
        });
    });
    $(document).ready(function () {
        $('.like-form2').submit(function (e) {
            e.preventDefault();
            var $form = $(this);
            $.ajax({
                type: 'POST',
                url: $form.attr('action'),
                data: $form.serialize()
            }).done(function () {
                location.reload();
            }).fail(function () {
                // Maneja errores si es necesario
            });
        });
    });
</script>
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</body>
</html>
{% endblock  %}


