{% extends 'nav.html' %} 
{% load static %}
{% block content%}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'styles/comments_detail.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Sans&family=Roboto:ital@1&display=swap" rel="stylesheet">
        <title>Social Network</title>
    </head>
<body>
    <a href='/home'><h1><span>Start</span></h1></a>



<div class ="comment-section">
<section class='main'>
    <div class='full-boxer' id = "full_boxer">
        {% for i in publications %}                
        <div class = 'comment-box' data-url = "{% url 'comments' i.id %}" id = "comment-box">
            <div class = 'box-top'>
                    <div class = 'profile'>
                        <div class = 'profile-image'>
                            {% if i.author.profile_image.image %}
                            <img src="{{i.author.profile_image.image.url}}">
                            {% else %}
                            <img src="{% static 'usuario.png' %}">
                            {% endif %}
                        </div>
                        <div class = 'name'>
                            <strong>{{i.author}}</strong>
                            <p class = 'date_1'>{{i.formatted_created_on_}}</p>
                        </div>
                    </div>
                        <div class='comment_' id = "comment_post">
                            <p>{{i.text_content|truncatechars:130}}</p>
                        </div>
                    
                </div>
            </div>     
        {% endfor %}
    </div>
</section>
</div>
<div id="my-modal_" class="modal_">
    <div class="modal-content_">
        <div class='comment-user-image-2'>
            {% if user.profile_image.image %}
            <img src="{{user.profile_image.image.url}}">
            {% else %}
            <img src="{% static 'usuario.png' %}">
            {% endif %}   
            </div>
        <span class="close-modal_" id="close-modal_">&times;</span>
        <form method="POST" class="form_post">
            {% csrf_token %}
            {{ form.text_content }}
            <label class = "placeholder-2">Got something to say?</label>
            <input type="submit" id="submit-comment" name="submit_comment" value="Post" class="submit-button-post">
        </form>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const commentBoxes = document.querySelectorAll(".comment-box");
      
        commentBoxes.forEach(function(commentBox) {
          commentBox.addEventListener("click", function() {
            const url = commentBox.getAttribute("data-url");  
            if (url) {
              window.location.href = url;
            }
          });
        });
        
      });
      var showFormBtn3 = document.getElementById('show-form-post');
      var modal3 = document.getElementById('my-modal_');
      var closeModalBtn3 = document.querySelector('.close-modal_');
     
  
        document.getElementById('show-form-post').addEventListener('click', function(event) {
            event.preventDefault(); 
        });
          // Agregar un evento de clic al botón para mostrar el modal
          showFormBtn3.addEventListener('click', function () {
            event.preventDefault();
              modal3.style.display = 'block';
          });
         
  
          // Agregar un evento de clic al botón para cerrar el modal
          closeModalBtn3.addEventListener('click', function () {
              modal3.style.display = 'none';
          });
  
          // Opcional: Agregar un evento para cerrar el modal si se hace clic fuera de él
          window.addEventListener('click', function (event) {
              if (event.target === modal3) {
                  modal3.style.display = 'none';
              }
          });
     
    
    </script> 
</body>

</html>
{% endblock %}