{% extends 'base.html' %} <!-- inherits from base  --> 
{% load static %}
{% block content%}
<!DOCTYPE html>
<html lang="es">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/post_detail.css' %}">
    <title>Social Network</title>
</head>
<body>
<h1>Inicio</h1>
<section class='main'>
    <div class='full-boxer'>
        {% for i in publications %}
            <a href="{% url 'comments' i.id %}" class = "link-comments">
            <div class = 'comment-box'>
                <div class = 'box-top'>
                    <div class = 'profile'>
                        <div class = 'profile-image'>
                            <img src="{% static 'usuario.png' %}">
                        </div>
                        <div class = 'name'>
                            <strong>{{i.author}}</strong>
                            <p class = 'date'>{{i.formatted_created_on_}}</p>
                        </div>
                        <div class='comment-post'>
                            <p>{{i.text_content}}</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </a>
            
        {% endfor %}
    </div>
</section>
</body> 
</html>
{% endblock %}