{% extends 'nav.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{user}}</title>
    <link rel="stylesheet" href="{% static 'styles/profile_style.css' %}">
       
   
</head>
<body style = "background-image: url('{{back_img.back_image.url}}')">
    <div id="my-modal-2" class="modal-2">
        <div class="modal-content-2">
            <span class="close-modal-2" id="close-modal-2" onclick="closeModalBtn2">&times;</span>
            <form method = 'POST' action="" enctype = "multipart/form-data" class ="form-2">
                {% csrf_token %}
                {{form1.back_image}}
                <input type="submit" name="submit_comment" value ='Accept' class = 'submit-button'>
                </form>
        </div>
    </div>


        <div id="my-modal" class="modal">
            <div class="modal-content">
                <span class="close-modal" id="close-modal" onclick="closeModalBtn">&times;</span>
                <form method = 'POST' action="" enctype = "multipart/form-data" class ="form_">
                    {% csrf_token %}
                    {{form.image}}
                    <input type="submit" name="submit_comment" value ='Accept' class = 'submit-button'>
                    </form>
            </div>
        </div>
            <div class="form-image">
                
            </div>
          
            <div class = 'user-boxer' id = "user-box">
                <div class= 'user-image'>
                    <div class = "num-likes">
                        @{{user}}
                        <i class="fa-solid fa-comment" title = "Comments"></i>
                        {{comment_count}}
                        <i class="fa-solid fa-heart" title = "Likes"></i>
                        {{num_likes}}
                        <i class="fas fa-file-alt" title = "Posts"></i>
                        {{p_count}}
                    </div>
                    {% if img and img.image %}
                    <img src = "{{img.image.url}}">
                    <button id="show-form" onclick="showFormBtn"><i class="fa-solid fa-camera-retro"></i>Change</button>
                    <button id="show-form2" onclick="showFormBtn2"><i class="fa-solid fa-image"></i>Change</button>
                    {% else %}
                    <img src="{% static 'NoUser.jpg' %}">
                    {% endif %}
                </div>
            </div>
    <section class="profile-content">
            <div class ='full-boxer'>
                {% for i in publications %}
                    <a href="{% url 'comments' i.id %}" class = "link-comments">
                        <div class ="content-box">
                            <div class ='box-top'>
                                <div class='user_'>
                                    <div class='mini-user-image'>
                                        <img src = "{{img.image.url}}">
                                    </div>
                                    <div class='name-author'>
                                        <strong>{{i.author}}</strong>
                                        <p class = 'date'>{{i.formatted_created_on_}}</p>
                                    </div>
                                    <div class = "text-c">
                                        <p>{{i.text_content|truncatechars:68}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a> 
                {% endfor %}
            </div>
    </section>
    <script>
        // Obtener referencia al botón y al modal
        var showFormBtn = document.getElementById('show-form');
        var modal = document.getElementById('my-modal');
        var closeModalBtn = document.querySelector('.close-modal');

        modal.style.display = 'none';


        // Agregar un evento de clic al botón para mostrar el modal
        showFormBtn.addEventListener('click', function () {
            modal.style.display = 'block';
        });

        // Agregar un evento de clic al botón para cerrar el modal
        closeModalBtn.addEventListener('click', function () {
            modal.style.display = 'none';
        });

        // Opcional: Agregar un evento para cerrar el modal si se hace clic fuera de él
        window.addEventListener('click', function (event) {
            if (event.target === modal) {
                modal.style.display = 'none';
            }
        });
        var showFormBtn2 = document.getElementById('show-form2');
        var modal2 = document.getElementById('my-modal-2');
        var closeModalBtn2 = document.querySelector('.close-modal-2');

        modal2.style.display = 'none';


        // Agregar un evento de clic al botón para mostrar el modal
        showFormBtn2.addEventListener('click', function () {
            modal2.style.display = 'block';
        });

        // Agregar un evento de clic al botón para cerrar el modal
        closeModalBtn2.addEventListener('click', function () {
            modal2.style.display = 'none';
        });

        // Opcional: Agregar un evento para cerrar el modal si se hace clic fuera de él
        window.addEventListener('click', function (event) {
            if (event.target === modal2) {
                modal2.style.display = 'none';
            }
        });
    </script>
</body>
</html>
{% endblock %}