* body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    text-decoration: none;
    
    }
h1 {
position: fixed;
display: flex;
transform: translate(-50%, -50%);
justify-content: center;
align-items: center;
top: 6%;
left: 50%;
background-color: rgba(0, 0, 0, 0.95);
padding-bottom: 3%;
padding-left: 18.52%;
padding-right: 18.52%;
box-shadow: 0 0 1.2px #bdbdbd;
z-index: 2;
cursor: pointer;

}
h1 span{
    background-color: transparent;
    margin-top: 50% ;
    position: relative;
    
}
section {
    height: 100% !important;
}
.main{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 100% !important;
color: white;
}
.full-boxer{
margin-top: 7.1%;
display: flex;
flex-direction: column;
height: 100%;

}

.comment-box{
background-color: black;
min-height: 100px;
height: auto;
width: 600px;
padding: 20px;
cursor: pointer;
box-shadow: 0 0 1.2px #bdbdbd;
z-index: 1;

}
.link-comments *{
    transition: 0.18s;
}

.profile{
    display: flex;
    align-items: center;
}

.profile-image img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    display: block;
   

}
.link-comments:hover *{
    background-color: #080808;
}

.name{
    margin-top: -25px;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    
}

.comment-post {

    margin-left:48px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 4vh;

  
}


.date {
    margin-left: 1vw;
    color: grey;
 
}
