*  {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    text-decoration: none;
    
    }
h1 {
position: fixed;
display: flex;
transform: translate(-50%, -50%);
justify-content: center;
align-items: center;
top: 6%;
left: 50%;
background-color: rgba(0, 0, 0, 0.95);
padding-bottom: 3%;
padding-left: 18.52%;
padding-right: 18.52%;
box-shadow: 0 0 1.2px #bdbdbd;
z-index: 2;
cursor: pointer;

}
h1 span{
    background-color: transparent;
    margin-top: 50% ;
    position: relative;
    
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
.full-boxer{
    position: relative;    
margin-top: 7.1%;
display: flex;
flex-direction: column;

}

.comment-box{

    width: 600px;
    background-color: black;
    color: white;
    padding: 20px;
    border: none;
    box-shadow: 0 0 1.2px #bdbdbd;
    cursor: pointer;
    transition: 0.18s;  
    position: relative;
    overflow: hidden;
    display: flex;
    min-height: 120px;

   
    }

.comment-box *{
    transition: 0.18s;
    overflow: hidden;
}

.profile{
    display: flex;
    align-items: center;
}

.profile-image img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow-x: hidden;
    margin-right: 10px;
    display: block;
   

}
.comment-box:hover {
    background-color: #080808;
}

.comment-box:hover *{
    background-color: #080808;
}

.name{
display: flex;
flex-direction: row;
margin-top: -20px;
    
}
.name p{
    margin-left: 15px;  
}

.comment-post {

    margin-left:48px;
    margin-top: 4vh;
    word-wrap: break-word;
    position: absolute;
    
  
}


.date {
    margin-left: 1vh;
    color: grey;
 
}
